* { font-family: Arial, Helvetica, sans-serif;}


/* HEADER / NAV BAR STYLES START */
header h1 a{
  font-weight: bold;
  margin-top: auto;
  font-size: 55px;
  color: hsl(235, 55%, 8%);
  text-decoration: none;
  text-shadow: 2px 2px red;
}
  
.header-footer {
  padding: 20px 35px;
  background-color: hsl(237, 22%, 63%);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-decoration: none;
}

header{
  background-image: url('../images/sparkles-bg-image.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.header-footer nav {
  margin: 7px 0;
}
  
.header-footer nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-style: italic;
}

  
.header-footer nav ul li a {
  margin: 0 30px;
  font-weight: normal;
  font-size: 1.55vw;
  text-decoration: none;
  color: hsl(236, 70%, 50%);
}

header nav ul li a {
  padding-top: 10px;
}
  
footer nav ul li a{
  margin: 0 25px; 
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px blue;
  padding-right: 5px;
  border-right: black 5px solid;
} 

footer{
  position: static;
}

footer aside {
  padding-top: 20px;
}

.hero{
height: 500px;
width: 100%;
position: relative;
background-image: url("../images/blue-curtains.jpg");
background-size: cover;
display: flex;
justify-content:left;
}

.hero .headshot {
  width: 35%;
  height: 500px;
}

.hero p {
  background-color: rgb(100, 221, 237);
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 60px;
  margin: 0 200px 0 0
}
article{
  background-color: cornflowerblue;
  position: relative;
}
article aside{
  padding: 30px 0 0 20px;
  height: 700px;
  width: 251px;
}

article p { 
  position: absolute;
  width: 708px;
  height: 350px;
  background-color: darkgoldenrod;
  border: black 5px solid;
  font-size: 40px;
  margin: 0;
  right: 0;
  bottom: 0;
  margin-right: 200px;
  margin-bottom: 200px;

}
